
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-individual-vJg {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(46, 196, 182, 0.0399999991);
  box-sizing: border-box;
  padding: 8.1rem 14rem 8rem 14rem;
  width: 100%;

  .group-9-s7S {
    margin: 0rem 8.4rem 16.85rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .logo-x2Q {
      flex-shrink: 0;
      margin-bottom: 5rem;
      width: 7.7346rem;
      height: 8rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .for-individuals-rda {
      line-height: 1.25;
      color: #000a09;
      flex-shrink: 0;
      margin-bottom: 3.25rem;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: -0.08rem;
      font-family: Brown, 'Source Sans Pro';
      white-space: nowrap;
    }
    .start-benefiting-from-the-wellness-experience-for-companies-looking-on-increasing-productivity-and-improving-organization-wellness-L2x {
      display: flex;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5625;
      color: #737373;
      font-family: Brown, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 46rem;
    }
  }
  .auto-group-hetc-NVS {
    position: relative;
    flex-shrink: 0;
    width: 61.6rem;
    height: 67.9rem;

    .bg-6RS {
      box-shadow: 0 0.4rem 5rem rgba(3, 8, 19, 0.1000000015);
      background-color: #ffffff;
      border-radius: 0.6rem;
      width: 58rem;
      height: 67.9rem;
      position: absolute;
      left: 3.6rem;
      top: 0;
    }
    .form-filled-no-caption-Ndr {
      top: 44.6rem;
      row-gap: 0.8rem;
      display: flex;
      flex-direction: column;
      width: 50rem;
      height: 9.8rem;
      position: absolute;
      left: 7.6rem;

      .title-2iQ {
        font-size: 1.4rem;
        letter-spacing: 0.01rem;
        white-space: nowrap;
        display: flex;
        font-weight: 600;
        line-height: 1.2575;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .bg-wqN {
        box-sizing: border-box;
        padding: 1.933rem 1.733rem 1.933rem 46.933rem;
        width: 100%;
        border: solid 0.1rem #f0f0f0;
        border-radius: 0.2rem;
        flex-shrink: 0;

        .edit-show-UqJ {
          width: 1.3333rem;
          height: 0.9333rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .description-n5J {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .form-filled-no-caption-WX6 {
      height: 9.8rem;
      top: 3.8rem;
      row-gap: 0.8rem;
      width: 31.4rem;
      position: absolute;
      left: 26.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .title-Q6g {
        font-size: 1.4rem;
        line-height: 1.2575;
        font-family: Sofia Pro, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 9.7rem;
        display: flex;
        color: #011c34;
        white-space: nowrap;
        font-weight: 600;
        letter-spacing: 0.01rem;
      }
      .bg-WvQ {
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 7.6rem;

        .auto-group-k3ja-sFA {
          width: 100%;
          height: 100%;
          border: solid 0.1rem #f0f0f0;
          box-sizing: border-box;
          border-radius: 0.2rem;
        }
      }
      .description-PzC {
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .form-filled-no-caption-j2U {
      position: absolute;
      top: 14rem;
      row-gap: 0.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 31.4rem;
      height: 9.8rem;
      left: 0;

      .title-q5W {
        margin-right: 11.7rem;
        color: #011c34;
        white-space: nowrap;
        letter-spacing: 0.01rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2575;
      }
      .bg-Z1W {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-dquv-uLG {
          padding: 1.4rem 1.47rem 1.4rem 1.6rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          box-sizing: border-box;

          .placeholder-2fn {
            margin-right: 13.1754rem;
            font-size: 1.4rem;
            color: #737373;
            white-space: nowrap;
            font-family: Sofia Pro, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-weight: 300;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
          }
          .u-angle-down-Uw6 {
            margin-top: 0.0005rem;
            width: 1.0542rem;
            height: 0.6247rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .description-ycx {
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
      }
    }
    .form-filled-no-caption-7UG {
      width: 31.4rem;
      left: 0;
      top: 24.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 9.8rem;
      position: absolute;
      row-gap: 0.8rem;

      .title-dhW {
        margin-right: 9rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .bg-Lbv {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-4twj-sbr {
          box-sizing: border-box;
          padding: 1.4rem 1.6rem;
          display: flex;
          font-size: 1.4rem;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          border: solid 0.1rem #f0f0f0;
          width: 100%;
          height: 100%;
          font-weight: 300;
          line-height: 1.4285714286;
          color: #737373;
          font-family: Sofia Pro, 'Source Sans Pro';
          border-radius: 0.2rem;
        }
      }
      .description-Hfa {
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
      }
    }
    .form-filled-no-caption-1rU {
      top: 34.4rem;
      row-gap: 0.8rem;
      display: flex;
      flex-direction: column;
      width: 57.6rem;
      height: 9.8rem;
      position: absolute;
      left: 0;

      .title-jGg {
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        margin-left: 7.6rem;
        font-weight: 600;
        color: #011c34;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.4rem;
      }
      .bg-R9W {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-lgp4-wde {
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          box-sizing: border-box;
          padding: 1.4rem 1.47rem 1.4rem 1.6rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .placeholder-enx {
            margin-right: 39.3754rem;
            display: flex;
            letter-spacing: 0.02rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.4285714286;
            color: #737373;
            font-family: Sofia Pro, 'Source Sans Pro';
          }
          .u-angle-down-kb6 {
            margin-top: 0.0005rem;
            width: 1.0542rem;
            height: 0.6247rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .description-re8 {
        margin-left: 7.6rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .form-filled-no-caption-zVS {
      flex-direction: column;
      align-items: center;
      height: 9.8rem;
      position: absolute;
      left: 26.2rem;
      top: 14rem;
      row-gap: 0.8rem;
      display: flex;
      width: 31.4rem;

      .title-6YU {
        display: flex;
        font-size: 1.4rem;
        font-family: Sofia Pro, 'Source Sans Pro';
        margin-right: 8.5rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        color: #011c34;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .bg-AHS {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-i7eu-7Cg {
          padding: 1.3rem 1rem 1.3rem 1.6rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          box-sizing: border-box;

          .placeholder-dwi {
            white-space: nowrap;
            display: flex;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.4285714286;
            letter-spacing: 0.02rem;
            color: #737373;
            font-family: Sofia Pro, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 12.7rem;
          }
          .u-acalendar-alt-ZKa {
            vertical-align: top;
            flex-shrink: 0;
            width: 2rem;
            height: 2.2rem;
            object-fit: contain;
          }
        }
      }
      .description-s5N {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
      }
    }
    .form-filled-no-caption-c2x {
      position: absolute;
      top: 24.2rem;
      height: 9.8rem;
      left: 26.2rem;
      row-gap: 0.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 31.4rem;

      .title-8GC {
        flex-shrink: 0;
        margin-right: 9rem;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2575;
        white-space: nowrap;
        font-weight: 600;
        letter-spacing: 0.01rem;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
      }
      .bg-dye {
        box-sizing: border-box;
        padding-left: 7.6rem;
        width: 100%;
        height: 4.8rem;
        flex-shrink: 0;

        .auto-group-vyzg-CG4 {
          box-sizing: border-box;
          width: 100%;
          font-size: 1.4rem;
          border: solid 0.1rem #f0f0f0;
          border-radius: 0.2rem;
          padding: 1.4rem 1.6rem;
          line-height: 1.4285714286;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          height: 100%;
          display: flex;
          color: #737373;
          font-family: Sofia Pro, 'Source Sans Pro';
          font-weight: 300;
        }
      }
      .description-TSt {
        font-weight: 400;
        line-height: 1.3333333333;
        color: #a6a6a6;
        font-family: Upgrade, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 5.2rem;
        font-size: 1.2rem;
      }
    }
    .form-focus-no-caption-yRE {
      position: absolute;
      left: 7.6rem;
      top: 3.8rem;
      box-sizing: border-box;
      padding-bottom: 2.4rem;
      width: 23.8rem;
      height: 9.8rem;

      .title-UMz {
        white-space: nowrap;
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2575;
        letter-spacing: 0.01rem;
        color: #011c34;
        font-family: Sofia Pro, 'Source Sans Pro';
        margin-bottom: 0.8rem;
      }
      .auto-group-2emi-ntU {
        width: 100%;
        height: 4.8rem;
        position: relative;

        .bg-8hS {
          left: 0;
          top: 0;
          border: solid 0.3rem rgba(46, 196, 182, 0.0599999987);
          box-sizing: border-box;
          border-radius: 0.2rem;
          width: 23.8rem;
          height: 4.8rem;
          position: absolute;
        }
        .placeholder-P7a {
          width: 2.7rem;
          height: 2rem;
          position: absolute;
          top: 1.4rem;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 0.02rem;
          white-space: nowrap;
          left: 1.6rem;
          display: flex;
          line-height: 1.4285714286;
          color: #011c34;
          font-family: Sofia Pro, 'Source Sans Pro';
        }
      }
    }
    .bg-SLk {
      text-align: center;
      font-size: 1.6rem;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.02rem;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1000000015);
      background-color: #2ec4b6;
      width: 50rem;
      height: 4.8rem;
      left: 7.6rem;
      top: 55rem;
      font-weight: 600;
      line-height: 1.2575;
      white-space: nowrap;
      border-radius: 0.2rem;
      position: absolute;
      font-family: Sofia Pro, 'Source Sans Pro';
      display: flex;
    }
    .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-FZ6 {
      font-weight: 400;
      width: 42.2rem;
      height: 2.5rem;
      position: absolute;
      left: 9.4rem;
      top: 61.4rem;
      display: flex;
      font-size: 1.4rem;
      line-height: 1.7857142857;
      font-family: Sofia Pro, 'Source Sans Pro';
      align-items: baseline;
      color: #000000;
      white-space: nowrap;

      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-FZ6-sub-0 {
      }
      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-FZ6-sub-1 {
        font-family: Sofia Pro, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7857142857;
        text-decoration-line: underline;
        color: #2ec4b6;
      }
      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-FZ6-sub-2 {
      }
      .by-clicking-register-you-agree-to-our-terms-of-use-and-our-privacy-policy-FZ6-sub-3 {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7857142857;
        text-decoration-line: underline;
        color: #2ec4b6;
        font-family: Sofia Pro, 'Source Sans Pro';
      }
    }
  }
}
